/* CURRENTLY IN: styles/main.css */
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

#mytheme .header-main {
	color: blue;
	text-align: center;
} 

.broBox { 
	
	margin: 2px;
	padding: 0px;
	margin-top: 20px; 
}


.fields-buff { 
	padding: 5px ; 
}

.first-field {
	margin-left: 0px;
}

.calendar {
	margin: 15px;
}

#mytheme .headerfont {
	font-size: 35px;
	color: blue;
	padding: 5px;
}

.bottompic {
	/*position: absolute;*/
	left: 0;
    bottom: 0;
    margin-top: 25px;

}

.no-buff {
	padding: 0px;
}


#mytheme .headerfont { 
	font-family: 'Permanent Marker', cursive;
	font-weight: 350; 
	padding: 2px;
	text-align: center;
	margin-left: 3px;
}

body {
	font-family: 'Permanent Marker', cursive;
	padding: 15px;
}

#mytheme .extrafont {
	font-family: 'Permanent Marker', cursive;
}


.searchboxbro { 
	margin: 0 }
